:root {
    --background: #F3F3F5;
    --lightGreen: #CEE2E3;
    --midGreen: #9EBFC2;
    --darkGreen: #456e71;
    --greenAccent: #659b9f;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: black !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.nav-link:hover {
    text-decoration: underline;
}

.header {
    background-color: var(--midGreen);
}

body {
    background-color: var(--background);
}

.input-group-text {
    background-color: var(--lightGreen);
}

.btn {
    background-color: var(--darkGreen);
    color: white;
}

.btn:hover {
    background-color: var(--greenAccent);
}
 
